.content-wrapper
  .pen-title
    %h1 Welcome to Knowledge-source
    %span
      Pen
      %i.fa.fa-paint-brush
      +
      %i.fa.fa-code
      by
      %a{:href => "#"} Nishant Upadhyay
  / Form Module
  .module.form-module
    .toggle#me
      %i.fa.fa-times.fa-pencil
      .tooltip Click Me
    .form

      %h2 Login to your account
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, autofocus: true, placeholder: "abc@example.com"
        = f.password_field :password, autocomplete: "off", placeholder: "********"
        = f.submit "Login"
        = render "users/shared/links"
    .form
      %h2 Create an account
      %form
        %input{:placeholder => "Username", :type => "text"}/
        %input{:placeholder => "Password", :type => "password"}/
        %input{:placeholder => "Email Address", :type => "email"}/
        %input{:placeholder => "Phone Number", :type => "tel"}/
        %button Register
    .cta
      %a{:href => "http://andytran.me"} Forgot your password?

:javascript
  $('#me').click(function(){
    // Switches the Icon
    $(this).children('i').toggleClass('fa-pencil');
    // Switches the forms
    $('.form').animate({
      height: "toggle",
      'padding-top': 'toggle',
      'padding-bottom': 'toggle',
      opacity: "toggle"
    }, "slow");
  });