= form_for @poc, html: {multipart: true } do |f|
  / text input
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: "Enter Name..."
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-calendar
      = f.text_field :start_poc_at, class: 'form-control', data: {provide:'datepicker'}
  .form-group
    .input-group
      .input-group-addon
        %i.fa.fa-calendar
      = f.text_field :end_poc_at, class: 'form-control', data: {provide:'datepicker'}
  / textarea
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: "Enter ..."
  .form-group
    = f.label :revision_note
    = f.text_area :revision_note, class: 'form-control', placeholder: "Enter ..."
  .form-group#someform
    = f.label :key_features
    %a#add_btn
      +
    %div#TextBoxDiv1
    = f.text_field :key_features, class: 'form-control', placeholder: "Enter ...", id: 'textbox1'
  .form-group
    = f.label :tag_list
    = f.text_field :tag_list, class: 'form-control', placeholder: "Enter ...", id: 'textbox1'
  .form-group
    = f.label :source_code
    = f.file_field :source_code

  = f.fields_for :document do |d|
    .form-group
      = d.label :file
      = d.file_field :file, multiple: true
  .form-group
    .box-footer
      = f.submit "Submit", class: 'btn btn-primary'
:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });

  $("#add_btn").click(function() {
  alert();
      var template = "<input type='text' name='poc[key_features][INDEX]' value='' id='textbox[INDEX]' placeholder='Enter ...' class='form-control'>",
          index = $('text').length,
          compiled_template;
          compiled_textarea = $(template.replace("INDEX", index));
          $('#textbox'+index).append(compiled_textarea);
          index = index + 1;
  });