.md-content
  %h3
    = poc.name
    %small
      = poc.status
  %div

    %p.tags.custom_margin
      %span.info-box-text
        %strong Technologies Used
      - poc.languages.each do |language|
        %a
          = language.name
    %p.tags.custom_margin
      %span.info-box-text
        %strong Tags
      - poc.tags.each do |tag|
        %a#label_tags
          = tag.name
    %p.languages_brief.custom_margin
      %span.info-box-text
        %strong
          Short Description
      = poc.description
    .custom_margin
      %span.info-box-text
        %strong
          Source Code
      %ul
        %li.source_file_name
          = poc.source_code.file.filename
        %li.source_link
          %a{:href => "#"}
            %img.download-btn{:src => "/assets/download_source.png"}
            %strong Download
    %p.custom_margin
      %span.info-box-text
        %strong
          Documents
      .box
        .box-body.no-padding
          %table.table.table-condensed
            %tbody
              %tr
                %th{:style => "width: 10px"} #
                %th Name
                %th Size
                %th{:style => "width: 40px"}
              %tr
                - poc.documents.each do |document|
                  %td 1.
                  %td
                    = document.file.file.filename
                  %td
                    20KB
                  %td
                    %a{:href => "#"}
                      %img.download-btn{:src => "/assets/download_source.png"}
    .row
      %button.md-close Got it!

:javascript
  $('.md-close').click(function(){
    $('#modal-1').removeClass("md-show")
  })

