.content-wrapper
  / Content Header (Page header)
  #modal-1.md-modal.md-effect-1
  %section.content-header
    %h1
      POCs
      %small Overview of POCs
  = render partial: 'shared/flash'
  %section.content
    .row
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-aqua
            %i.fa.fa-spinner.fa-spin
          .info-box-content
            %span.info-box-text In Progress
            %span.info-box-number
              90
              %small %
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-red
            %i.fa.fa-flag-checkered
          .info-box-content
            %span.info-box-text Finished
            %span.info-box-number 41,410
      .clearfix.visible-sm-block
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-green
            %i.fa.fa-hand-paper-o
          .info-box-content
            %span.info-box-text On Hold
            %span.info-box-number 760
    .row
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-aqua
            %i.ion.ion-ios-gear-outline
          .info-box-content
            %span.info-box-text Future Work
            %span.info-box-number
              90
              %small %
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-red
            %i.fa.fa-google-plus
          .info-box-content
            %span.info-box-text High Priority
            %span.info-box-number 41,410
      .clearfix.visible-sm-block
      .col-md-4.col-sm-6.col-xs-12
        .info-box
          %span.info-box-icon.bg-green
            %i.ion.ion-ios-cart-outline
          .info-box-content
            %span.info-box-text Low Priority
            %span.info-box-number 760

    .row
      .col-md-12
        %h3.timeline-header
          Available Projects
        .timeline-body
          - @pocs.each do |poc|
            %div.custom_div{:id => "#poc_div_#{poc.id}"}
              %h3.custom_margin
                = link_to poc.name, poc_path(poc), remote: true
                %small
                  = poc.status
              %span.custom_margin.info-box-text Technologies Used
              %p.tags.custom_margin
                - poc.languages.each do | language|
                  %a
                    = language.name
              %span.custom_margin.info-box-text Tags
              %p.tags.custom_margin
                - poc.tags.each do |tag|
                  %a#label_tags
                    = tag.name
  %section.content-header.clearfix
    .column
      = link_to "Call Show", "javascript:;", remote: true, id: "poc_div_2"
  .md-overlay
:javascript
  $('#poc_div_2').click(function(){
    $.ajax({
    url: '/pocs/1',
    method: 'GET'
    })
  })