!!!
%html.no-js{:lang => "en"}
  %head
    %title Knowledge-Source | Dashboard
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.skin-blue
    .wrapper
      - if user_signed_in?
        = render "layouts/header"
        = render "layouts/left_sidebar"
      = yield
      = render "layouts/footer"
      .md-overlay
%script{:src => "/assets/modalEffects.js"}
:javascript
  if("#{user_signed_in?}" == "false"){
    $("body.skin-blue").addClass("sidebar-collapse")
  }
